body {
  background-color: rgb(255, 255, 255);
  background-size: 500%;
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  height: 75px;
}

span{
  font-size: 75px;
  margin-top: 20px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
}

/* button.startButton { */
  /* -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-top: 70px;
  padding: 14px 80px; 
  font-size: 20px;
    /* width: 100px; */
  /* border: 1px solid; */
  /* border-radius: 9px;
  background-color: purple;
  color: white; */
/* } */

/* button.startButton:hover { */ 
  /* background-color: rgb(225, 117, 225);
  color: white;
  border: hidden; */

/* } */




/* .polling_message {
  color: white;
  float: left;
}

.view_port {
  background-color: rgb(0, 0, 0);
  height: 70px;
  width: 200%;
  overflow: hidden;
}

.cylon_eye {
  background-color: rgb(255, 0, 162);
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);
  color: white;
  height: 10%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-animation: 1s linear 1s infinite alternate move_eye;
          animation: 1s linear 1s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -150%; } to { margin-left: 150%; }  }
        @keyframes move_eye { from { margin-left: -150%; } to { margin-left: 150%; }  } */
